body {
  background-color: cornflowerblue;
  background-image: url("jogos.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
  width: 100%;
  display: flex;
  justify-content: center;
}

form {
  padding: 3vw;
  margin-top: 2vw;
  border-radius: 1vw;
  background: #000000ab;
  border: 0.2vw solid black;
  box-shadow: 0.1vw 0.5vw 1vw black;
}

h1 {
  margin: 0.5vw;
  text-align: center;
  font-size: 5vw;
  font-family: fantasy;
  font-weight: lighter;
  text-shadow: 0.1vw 0.5vw 1vw black;
  color: #45ffff;
}

.bem-vindo {
  text-align: center;
  margin: 1vw;
  font-weight: bold;
  font-size: 2vw;
  color: #45ffffc7;
  text-shadow: 0.1vw 0.4vw 1vw black;
}

form label {
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-shadow: 0.1vw 0.3vw 0.3vw black;
}

#login {
  border-radius: 0.3vw;
  padding: 0.7vw;
  width: 25vw;
  margin: 1.5vw 0;
  /* background: #070b11e8; */
  color: white;
  background: #000000ab;
  font-size: 1.5vw;
  border: solid 0.1vw black;
  box-shadow: 0.1vw 0.5vw 0.4vw black;
  /* box-shadow: 0.1vw 0.4vw 1vw;
   background: transparent; */
  outline: none;
}

.inform-senha {
  font-size: 1.5vw;
  margin: 0.5vw 0;
  padding-left: 6.5vw;
  color: white;
  text-shadow: 0.1vw 0.1vw 0.1vw black;
}

#senha {
  border-radius:0.3vw; 
  padding: 0.7vw;
  width: 20vw;
  background: #000000ab;
  color: white;
  font-size: 1.5vw;
  border: solid 0.1vw black;
  box-shadow: 0.1vw 0.5vw 0.4vw black;
  /* box-shadow: 0.1vw 0.4vw 1vw; */
  outline: none;
}

ul {
	list-style: none;
  display: flex;
  gap: 2vw;
  justify-content: center;
  padding: 0%;
}

li :hover {
  color: #5c5c5c ;
}

a {
  color: white;
  font-size: 1vw;
  text-shadow: 0.1vw 0.1vw 0.1vw black;
}

/*form {
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
}*/

.botao {
  padding: 1.6vw;
  width: 17vw;
  color: white;
  background: #000000ab;
  border: white solid 0.1vw;
  border-radius: 1vw;
  font-size: 2vw;
  font-weight: bold;
  box-shadow: 0.6vw 0.6vw 0.6vw black;
}

.class-botao {
  display: flex;
  justify-content: center;
}

.class-botao :hover {
  cursor: pointer;
  color: white;
  background: #161b2f;
  border: white solid 0.1vw;
}